{% load static %}
<header>

    <nav>
      <div class="branding">
        <a href="/">
          <img src="{% static 'img/logo.png' %}" alt="CENS 451">
          <p class="name_branding">CENS 451</p>
        </a>
      </div>

      <ul class="navigation">
        <li><a href="/">Inicio</a></li>
        <li><a href="fines/">Plan Fines</a></li>
        <li><a href="docentes/">Docentes</a></li>
      </ul>


{#      <div class="icon" @click="hrefggleMenuMobile" v-show="mobile" :class="{'icon-active': menuMobile}">#}
{#        <i  class="fa-solid fa-bars" ></i>#}
{#      </div>#}

{#      <transition name="mobile-nav">#}
{#        <ul class="dropdown-nav">#}
{#          <li><a class="link" href="/">Inicio</a></li>#}
{#          <li><a class="link" href="/fines">Plan Fines</a></li>#}
{#          <li><a class="link" href="/docentes">Docentes</a></li>#}
{#        </ul>#}
{#      </transition>#}

    </nav>
  </header>